body {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f5;
    font-weight: 900;
}

.dm-serif display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
  }
  
.dm-serif display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }

.image{
    background-color: #130909;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 83%;
}

.image img{
    width: 100%;
    height: 400px;
    transition: all .3s ease-in;
}

.image:hover img{
    transform: scale(1.1);
    width: 120%;
    height: 405px;
    cursor: pointer;
}

.carousel-container{
    width: 600px;
    height: 650px;
    justify-content: right;
}

.carousel-indicators{
    color: #130909;
}

.d-block{
    width: 600px;
    height: 650px;
}

.carousel-item{
    max-width: 100%;
    height: 100%;
}

section {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title{
    height: 600px;
}

h1, h2, h3 {
    color: #333;
}

#about-me-section{
    padding-top: 80px;
}

.p1{
    text-align: left;
    max-width: 500px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.portfolio{
    text-align: left;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.contact{
    text-align: left;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 25px;
}

p {
    line-height: 1.6;
    color: #c7dad3;
    font-weight: 400;
    font-size: large;
}